.header__top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  font-size: 12px;
  width: 75vw;
  margin: 0 auto;
}

.header__top__left {
  display: flex;
  align-items: center;
}

.header__top__left > p {
  margin-left: 10px;
  font-size: 11px;
}

.header__top__left > p > span {
  font-weight: 600;
}

.header__top__right {
  display: flex;
  align-items: center;
}

.header__top__right > button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.darkTopBtn {
  color: white;
}

.header__top__right > .sub_btn {
  border: 1px solid #8cc63f;
  border-radius: 5px;
  padding: 10px;
  color: #8cc63f;
}

.header__top__right > .MuiSvgIcon-root {
  margin-right: 10px;
  cursor: pointer;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
  padding: 10px 0;
}

.header__bottom__BtnsL {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 20px;
}

.header__bottom__BtnsL > p {
  margin-left: 10px;
}

.header__bottom__BtnsL > img {
  width: 150px;
}

.header__bottom__BtnsR {
  display: flex;
  margin-right: 20px;
}

.header__bottom__BtnsR > p {
  margin-right: 10px;
}

.header__bottom__BtnsL__smallScreen {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header__bottom,
  .header__top {
    display: none;
  }
  .header__bottom__BtnsL__smallScreen {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  .header__bottom__BtnsL__smallScreen > img {
    width: 150px;
  }

  .hamburger__menu > .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .header__bottom__BtnsL__smallScreen__btnsRight {
    margin-right: 10px;
  }

  .header__bottom__BtnsL__smallScreen__btnsRight > * {
    margin-left: 10px;
  }
}
