.main__Container {
  width: 1300px;
  margin: 0 auto;
}

.main__nav {
  display: flex;
  margin-top: 30px;
  border-bottom: 1px solid whitesmoke;
  padding: 0 15px;
}

.main__nav > p {
  margin: 0;
  padding: 10px 10px;
  margin-right: 15px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  color: grey;
  font-weight: 600;
  font-size: 14px;
}

.main__nav > p:hover {
  border-bottom: 2px solid grey;
  color: black;
}

.main__heading {
  padding: 10px 0;
  margin-bottom: 30px;
}

.main__heading > div {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.main__heading > div > h1 {
  font-size: 22px;
  margin-right: 10px;
}

.main__heading > div > p {
  font-size: 14px;
  color: grey;
}

.main__heading > p {
  margin: -5px;
  padding: 0 25px;
  font-size: 12px;
}

.marketStats__cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.marketStats__cards > div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 21%;
  border-radius: 5px;
  padding: 15px;
  border-left: 7px solid #8cc63f;
}

.marketStats__cards > .greyCard {
  border-left: 7px solid grey;
}

.marketStats__cards > div > h3 {
  font-weight: 600;
}

.marketStats__cards > div > p {
  color: grey;
  font-size: 12px;
  margin-top: 5px;
}

.main__heading__switch > .MuiSwitch-thumb {
  color: "#33cf4d";
}

@media only screen and (max-width: 700px) {
  .main__Container {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
  }

  .main__tableContainer {
    overflow: scroll;
    width: 100vw;
  }

  .main__heading > div > div,
  .main__heading > div > p {
    display: none;
  }

  .main__heading > div > h1 {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .main__heading {
    width: 90vw;
    overflow: hidden;
  }

  .main__nav {
    width: 80vw;
    align-items: center;
    overflow: none;
  }

  .main__nav > p {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    color: grey;
    font-weight: 600;
    font-size: 12px;
    display: inline;
    padding: 15px 0;
  }

  .main__nav > p:nth-child(4),
  .main__nav > p:nth-child(3) {
    display: none;
  }
}
