.newsRow__container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.newscontainer {
  width: 32%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.newscontainer > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50%;
}

.newscontainer > div > div {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 35px;
}

.newscontainer > div > div {
}

.newscontainer > div > h5 {
  margin-bottom: 15px;
  color: #8cc63f;
}

.newscontainer > div > h4 {
  margin-bottom: 8px;
}

.newscontainer > div > p {
  font-size: 14px;
}

@media only screen and (max-width: 700px) {
  .newscontainer {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .newsRow__container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 701px) {
  .newscontainer > div > div {
    display: none;
  }

  .newscontainer {
    overflow: hidden;
  }
}
