table {
  border-collapse: collapse;
  width: 1300px;
  overflow-y: scroll;
}

td,
th {
  text-align: left;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
  font-size: 14px;
  font-weight: 400;
}

th {
  font-weight: 700;
  padding: 13px 20px;
  border-top: 1px solid rgb(228, 228, 228);
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: rgba(199, 198, 198, 0.212);
}

.coin__name {
  font-weight: 700;
  width: 35%;
  align-items: center;
}

.coin__id {
  font-weight: 400;
  align-items: center;
  width: 40px;
}

.coin__name > div {
  display: flex;
  align-items: center;
}

.coin__id > div {
  display: flex;
  align-items: center;
}

.coin__id > div > div {
  margin-right: 6px;
}

.star__btnLight > .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.555);
}
.star__btnDark {
  width: 20px;
  height: 20px;
  color: rgba(184, 184, 184, 0.726);
}

.coin__logo {
  position: relative;
  margin: 0;
  width: 20px;
  margin-right: 10px;
}

.negative_number {
  color: red;
  font-weight: 600;
}

.positve_number {
  color: #3fc646;
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  table {
    border-collapse: collapse;
    width: 100vw;
    overflow-x: scroll;
    margin-bottom: 100px;
  }
}
